.author-div{
    text-align: center;
	padding: 1rem;
	background-color: #FFF;
	margin-left: .5rem;
	padding: .3rem;
	border-radius: .3rem;
	border-bottom: 1px solid #eee;
}
.author-div div{
    margin-bottom: 1rem;
}
.author-introduction{
    font-size:.8rem;
    color: #999;
}
.author-img{
	background-color: #999;
	border: 1px solid;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}

.common-right {
	background-color: #FFF;
	margin-left: .5rem;
	padding: .3rem;
	border-radius: .3rem;
	border-bottom: 1px solid #eee;
}
